.welcome {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 100px;
}

.welcome img {
	mix-blend-mode: color-burn;
}

.form-elements {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-left: 10px;
}

.form-input {
	display: flex;
	justify-content: space-between;
	gap: 10px;
}

input[type=text]:focus {
	background-color: white;
}